    <div id="footer">
        <p>&#64;Proudly Presented By A Silly Man</p>
        <div id="back-top" style="display: none;"><p>返回</p><p>顶部</p></div>
    </div>
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>