
/*-----------Header Module-------------------------*/
@media (min-width: 768px) {
    .container-fluid {
        position: relative;
        left: 10%;
        padding: 0;
        &  .search {
            position: absolute;
            right: 20%;
        }
    }
}
.navbar-brand a {
    color: #222;
    &:hover {
        text-decoration: none;
    }
    & > span {
        padding: 4px 6px;
        background-color: #222;
        color: #fff;
        cursor: default;
    }
}
.search {
    display: inline-block;
    line-height: 50px;
    & > input {
        width: 80px;
        height: 30px;
        margin: 0;
        padding: 0;
        line-height: 0;
        text-align: center;
        border: 1px solid #888;
        border-left: 0;
        border-right: 0;
        background-color: transparent;
        color: #777;  
        &:focus {
            outline: none;
        }
        
    }
}
/*-----------Title Module-------------------------*/
.now-page {
    position: relative;
    height: 50px;
}
.flash-condition {
    position: absolute;
    & > span {
        display: block;
        margin-top: 10px;
        padding: 10px;
        background-color: #fff;
        color: #000;
        font-family: 'Microsoft Yahei';
        font-size: 16px;
        border: 1px solid $borderColor;
        border-radius: 6px;
        z-index: 99;
    }
}
.flash-condition {right: 10%;}
.locate-page {
    position: absolute;;
    left: 40%;
    & > p {
        font-size: 28px;
        margin-bottom: 5px;
    }
    & > .line {
        width: 500px;
        margin: auto;
    }
}
@media (max-width: 768px) {
    .locate-page {
        left: 5%;
        & > p {
            font-size: 24px;
        }
        & > .line {
            width: 200px;
        }
    }
}
@media (max-width: 768px) {  //小于768px的屏幕
    .is-login {
        display: none;
    }
}
/*-----------User Module-------------------------*/
@media (min-width: 768px) {#user-avatar {display: none;}}
#user-avatar {
    position: absolute;
    left: 80%;
    width: 40px;
    height: 40px;
    border: 1px solid $borderColor;
    border-radius: 50%;
    & img {
        width: 100%;
        border-radius: 50%;
    }
}
#user {
    float: left;
    width: 20%;
    margin-top: 10px;
    margin-left: 10%; 
    background-color: #fff; 
    border: 1px solid $borderColor;
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s ease-in-out; 
    & > span {
        float: right;
        font-size: 16px;
        color: #222;
        cursor: pointer;
    }
}
.avatar {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 1px solid $borderColor;
    & > img {
        width: 100%;
        border-radius: 50%;
    }
}
.info {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    & > a {
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }
    & > .line {
        margin: auto;
        width: 160px;
    }
    & .user-like { cursor: pointer; }
}
.user-icon {
    margin: 20px 0;
    padding: 0;
    & > li {
        display: inline-block;
        width: 50px;
        margin-right: 10p;
    }
    & span {
        font-size: 20px;
    }
}
#user-nav {
    margin: 0;
    padding: 0;
    & > li {
        width: 100%;
        padding: 10px 20px;
        border-top: 1px solid $borderColor;
        text-align: center;
        &:hover {
            background-color: $freshBlue;
        }
        &:last-child:hover {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        & > a {
            font-size: 18px;
            font-weight: normal;
            color: #000;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
@media (max-width: 768px) {
    #user {
        display: none;
    }
}
/*--------------Login Module-------------------------*/
.modal-header {
    height: 20%;
    padding: 30px;
    & > a {
        display: inline-block;
        font-family: 'Microsoft Yahei';
        font-size: 18px;
        color: #787D82;
        &:hover {
            color: #F01400;
        }
    }
}
.modal-body {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}
.modal-footer {
    height: 20%;
    text-align: center;
}
@media (min-width: 768px) {
    .modal-content {
        width: 500px;
        height: 400px;
    }
}
/*-----------Content Module-------------------------*/
#main-content {
    width: 90%;
    margin: auto;
    min-height: 500px;
    padding-top: 30px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid $borderColor;
    border-radius: 10px;
}
@media (min-width: 768px) { //大于768px的屏幕
    #main-content {
        float: left;
        width: 50%;
        margin-left: 10%;
    }
}
#pager {
    padding: 0 30px;
    margin-top: -30px;
    margin-bottom: 30px;
}
/*--------------Post Module-------------------------*/
.post {
    position: relative;
    top: -30px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-family: 'Microsoft Yahei';
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075);
    overflow: hidden;
}
.comment {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.post-bar {
    position: absolute;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #f0ad4e;
}
.post:first-child > .post-bar {
    border-top-left-radius: 10px;
}
.post-container {
    width: 80%;
    margin: auto;
    & > .post-title {
        font-size: 24px;
        color: #222;
        & .toggle-star {margin-left: 10px;}
        & a {
            padding: 3px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            &:hover {
                text-decoration: none;
                color: #4078c0;
            }
        }
        & span {
            color: darkred;
            font-size: 16px;
            text-indent: 20px;
            cursor: pointer;
        }
    }
    & > .post-content {
        padding: 30px 0;
        font-size: 18px;
        text-indent: 8px;
    }
    & > .post-footer {
        width: 80%;
        height: 50px;
        border-top: 1px dashed #222;
        & > .post-room {
            float: left;
            margin-top: 10px;
            padding: 5px 10px;
            color: #fff;
        }
    }//inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075)
}
.post-time {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 60px;
    color: #fff;
    background-color: #222;
    text-align: center;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
/*-----------Post、Edit Module-------------------------*/
#edit-holder, #post-holder {
    width: 80%;
    margin: auto;
}
.edit-header, .post-header {
    border: solid 1px #ccc;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f7f7f7;
    & > li > a {
        border-top: none;
        font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: #666;
        &:hover {
            background-color: #f7f7f7;
            border-color: #f7f7f7;
        }
    }
    & > li:first-child.active > a {
        border-left: none;
        &:hover {border-left: none;}
    }
    & > li.active > a {
        border-bottom: solid 1px #fff;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
        border-top: none; 
        &:hover, &:focus {
            border-bottom: solid 1px #fff;
            border-right: solid 1px #ccc;
            border-top: none; 
        }
    }
    &::before {
        display: table;
        content: "";
    }
    &::after {
        display: table;
        content: "";
        clear: both;
    }
    /*& > .edit-header-info {
        float: left;
        font-size: 12px;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }*/
    & > .edit-header-actions, .post-header-actions {
        float: right;
        line-height: 39px;
        & > span {
            margin-right: 8px;
            color: #767676;
        }
        & > span:hover {
            color: #4078c0;
        }
    }
}
.edit-content, .post-content {
    & > textarea {
        box-shadow: none;
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:focus {
            box-shadow: none;
            border-color: #ccc;
        }
    }
}
.edit-button, .post-button {
    margin-bottom: 20px;
}
#preview {
    padding: 6px 12px;
    height: 253px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow-y: scroll;
}
img[alt="markdown"] {width: 300px;}
/*--------------Archive Module-------------------------*/
.archive-container {
    width: 80%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    & > .archive-time { font-family: 'Lucida Console', Monaco, monospace;}
    & > .archive-title { 
        font-family: 'Microsoft Yahei';
        margin-left: 10px;
    }
    & a {
        color: darkslategray;
    }
}

/*-----------About Module-------------------------*/
#intro {
    font-family: cursive;
    text-align: center;
    line-height: 250px;
}

/*-----------Footer Module-------------------------*/
#footer {
    margin-left: 10%;
    margin-top: 20px;
    color: $footerColor;
    clear: left;
    & > #back-top {
        position: fixed;
        right: 3%;
        bottom: 5%;
        width: 50px;
        height: 50px;
        background-color: #222;
        color: #fff;
        font-family: "Microsoft Yahei";
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        opacity: .3;
        transition: opacity, .4s, ease-in;
        & > p {
            margin-bottom: 5px;
        }
        &:hover {
            opacity: 1;
        }
    }
}
@media (max-width: 768px) {
    #footer {
        margin-top: 5px;
    }
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }
  .sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #639;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0.0s;
            animation-delay: 0.0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }